<div class="row">
  {{#parallax-effect}}
    <img
src="http://wallpapers55.com/wp-content/uploads/2013/10/iOS-7-Wallpaper-Parallax-06-1040x600.jpg">
  {{/parallax-effect}}
  <div class="container">
    <h1>Parallax</h1>
    <div>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh.
      Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare
      laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue
      commodo commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae
      nisl. In dignissim lacus ut ante. Cras elit lectus, bibendum a,
      adipiscing vitae, commodo et, dui. Ut tincidunt tortor. Donec nonummy,
      enim in lacinia pulvinar, velit tellus scelerisque augue, ac posuere
      libero urna eget neque. Cras ipsum. Vestibulum pretium, lectus nec
      venenatis volutpat, purus lectus ultrices risus, a condimentum risus
      mi et quam. Pellentesque auctor fringilla neque. Duis eu massa ut
      lorem iaculis vestibulum. Maecenas facilisis elit sed justo. Quisque
      volutpat malesuada velit.
    </div>
  </div>
  {{#parallax-effect}}
    <img src="http://www.bespokepixels.co.uk/code/parallax/parallax.jpg">
  {{/parallax-effect}}
  <div class="container">
    <h1>Central</h1>
    <div>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh.
      Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare
      laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue
      commodo commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae
      nisl. In dignissim lacus ut ante. Cras elit lectus, bibendum a,
      adipiscing vitae, commodo et, dui. Ut tincidunt tortor. Donec nonummy,
      enim in lacinia pulvinar, velit tellus scelerisque augue, ac posuere
      libero urna eget neque. Cras ipsum. Vestibulum pretium, lectus nec
      venenatis volutpat, purus lectus ultrices risus, a condimentum risus
      mi et quam. Pellentesque auctor fringilla neque. Duis eu massa ut
      lorem iaculis vestibulum. Maecenas facilisis elit sed justo. Quisque
      volutpat malesuada velit.
    </div>
  </div>
</div>
